# General
.DS_Store
.env
*.log
node_modules/
dist/
build/
target/
__pycache__/
*.pyc
.venv/
venv/

obj/

# IDEs
.vscode/
.idea/

# Rust
ingestion-service/target/
**/*.rs.bk

# Go
feed-service/bin/
gateway-service/bin/

# Python
ai-service/__pycache__/
ai-service/.venv/

# Node
web-client/node_modules/
web-client/dist/

# Docker
docker-data/