@tailwind base;
@tailwind components;
@tailwind utilities;

/* Vidstack Player Styles */
@import 'vidstack/player/styles/default/theme.css';
@import 'vidstack/player/styles/default/layouts/video.css';

body {
    @apply bg-gray-900 text-white;
}
