/* Vidstack Player Styles */
@import 'vidstack/styles/defaults.css';
@import 'vidstack/styles/base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-telegram-bg text-telegram-text antialiased;
}